.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.098145;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.092285;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.059570;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.862793;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.061035;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.769531;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-40.289047px;}
._3{margin-left:-13.242897px;}
._1{margin-left:-11.367187px;}
._2{margin-left:-9.351563px;}
._4{margin-left:-8.307491px;}
.fc0{color:rgb(102,102,102);}
.fc3{color:rgb(17,85,204);}
.fc4{color:rgb(183,183,183);}
.fc1{color:rgb(32,121,199);}
.fc2{color:rgb(0,0,0);}
.fs0{font-size:24.000000px;}
.fs5{font-size:31.979999px;}
.fs3{font-size:36.000000px;}
.fs4{font-size:43.979999px;}
.fs2{font-size:48.000000px;}
.fs1{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.yb{bottom:11.250000px;}
.y4{bottom:12.000000px;}
.y29{bottom:12.750000px;}
.ya{bottom:24.000000px;}
.y4e{bottom:27.000000px;}
.y28{bottom:33.000000px;}
.y9{bottom:36.750000px;}
.y3{bottom:39.000000px;}
.y4d{bottom:41.250000px;}
.y2a{bottom:44.250000px;}
.y27{bottom:47.250000px;}
.y8{bottom:49.500000px;}
.y4c{bottom:55.500000px;}
.y26{bottom:61.500000px;}
.y7{bottom:62.250000px;}
.y6{bottom:75.000000px;}
.y25{bottom:75.750000px;}
.y4b{bottom:85.500000px;}
.y24{bottom:90.000000px;}
.yc{bottom:98.250000px;}
.y4a{bottom:99.750000px;}
.y23{bottom:105.750000px;}
.y49{bottom:114.000000px;}
.y22{bottom:115.500000px;}
.y48{bottom:128.250000px;}
.y21{bottom:130.500000px;}
.y47{bottom:142.500000px;}
.y46{bottom:156.750000px;}
.y20{bottom:162.750000px;}
.y45{bottom:171.000000px;}
.y1f{bottom:177.000000px;}
.y44{bottom:185.250000px;}
.y1e{bottom:191.250000px;}
.y43{bottom:199.500000px;}
.y1d{bottom:205.500000px;}
.y42{bottom:213.750000px;}
.y1c{bottom:219.750000px;}
.y41{bottom:228.000000px;}
.y1b{bottom:237.750000px;}
.y40{bottom:242.250000px;}
.y1a{bottom:249.750000px;}
.y3f{bottom:256.500000px;}
.y19{bottom:260.250000px;}
.y3e{bottom:270.750000px;}
.y3d{bottom:285.000000px;}
.y18{bottom:288.750000px;}
.y3c{bottom:299.250000px;}
.y3b{bottom:313.500000px;}
.y3a{bottom:327.750000px;}
.y17{bottom:333.000000px;}
.y39{bottom:342.000000px;}
.y16{bottom:347.250000px;}
.y38{bottom:356.250000px;}
.y15{bottom:361.500000px;}
.y37{bottom:370.500000px;}
.y14{bottom:378.000000px;}
.y36{bottom:384.750000px;}
.y13{bottom:393.000000px;}
.y35{bottom:399.000000px;}
.y34{bottom:413.250000px;}
.y12{bottom:425.250000px;}
.y33{bottom:427.500000px;}
.y11{bottom:439.500000px;}
.y32{bottom:441.750000px;}
.y10{bottom:453.750000px;}
.y31{bottom:456.000000px;}
.yf{bottom:470.250000px;}
.y30{bottom:484.500000px;}
.ye{bottom:485.250000px;}
.y2f{bottom:498.750000px;}
.y2e{bottom:513.000000px;}
.yd{bottom:513.750000px;}
.y2d{bottom:527.250000px;}
.y2c{bottom:541.500000px;}
.y2b{bottom:567.750000px;}
.y5{bottom:658.500000px;}
.y2{bottom:669.000000px;}
.y1{bottom:751.500000px;}
.h1{height:19.886719px;}
.ha{height:24.297304px;}
.h6{height:26.419922px;}
.h7{height:27.351563px;}
.hb{height:29.830078px;}
.hd{height:36.184716px;}
.hc{height:36.442412px;}
.h4{height:38.671875px;}
.h9{height:38.742188px;}
.h2{height:81.000000px;}
.h5{height:91.500000px;}
.h3{height:118.476563px;}
.h8{height:560.250000px;}
.he{height:614.250000px;}
.h0{height:792.000000px;}
.w2{width:165.000000px;}
.w1{width:358.500000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:7.195313px;}
.xd{left:34.945313px;}
.xe{left:38.695313px;}
.x1{left:43.195313px;}
.xc{left:46.195313px;}
.xb{left:48.445313px;}
.x9{left:49.945313px;}
.x5{left:51.445313px;}
.x6{left:57.445313px;}
.x4{left:59.695313px;}
.x10{left:61.195313px;}
.x7{left:63.445313px;}
.xa{left:64.945313px;}
.xf{left:67.945313px;}
.x8{left:74.695313px;}
.x3{left:402.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-53.718729pt;}
._3{margin-left:-17.657196pt;}
._1{margin-left:-15.156249pt;}
._2{margin-left:-12.468750pt;}
._4{margin-left:-11.076655pt;}
.fs0{font-size:32.000000pt;}
.fs5{font-size:42.639999pt;}
.fs3{font-size:48.000000pt;}
.fs4{font-size:58.639999pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.yb{bottom:15.000000pt;}
.y4{bottom:16.000000pt;}
.y29{bottom:17.000000pt;}
.ya{bottom:32.000000pt;}
.y4e{bottom:36.000000pt;}
.y28{bottom:44.000000pt;}
.y9{bottom:49.000000pt;}
.y3{bottom:52.000000pt;}
.y4d{bottom:55.000000pt;}
.y2a{bottom:59.000000pt;}
.y27{bottom:63.000000pt;}
.y8{bottom:66.000000pt;}
.y4c{bottom:74.000000pt;}
.y26{bottom:82.000000pt;}
.y7{bottom:83.000000pt;}
.y6{bottom:100.000000pt;}
.y25{bottom:101.000000pt;}
.y4b{bottom:114.000000pt;}
.y24{bottom:120.000000pt;}
.yc{bottom:131.000000pt;}
.y4a{bottom:133.000000pt;}
.y23{bottom:141.000000pt;}
.y49{bottom:152.000000pt;}
.y22{bottom:154.000000pt;}
.y48{bottom:171.000000pt;}
.y21{bottom:174.000000pt;}
.y47{bottom:190.000000pt;}
.y46{bottom:209.000000pt;}
.y20{bottom:217.000000pt;}
.y45{bottom:228.000000pt;}
.y1f{bottom:236.000000pt;}
.y44{bottom:247.000000pt;}
.y1e{bottom:255.000000pt;}
.y43{bottom:266.000000pt;}
.y1d{bottom:274.000000pt;}
.y42{bottom:285.000000pt;}
.y1c{bottom:293.000000pt;}
.y41{bottom:304.000000pt;}
.y1b{bottom:317.000000pt;}
.y40{bottom:323.000000pt;}
.y1a{bottom:333.000000pt;}
.y3f{bottom:342.000000pt;}
.y19{bottom:347.000000pt;}
.y3e{bottom:361.000000pt;}
.y3d{bottom:380.000000pt;}
.y18{bottom:385.000000pt;}
.y3c{bottom:399.000000pt;}
.y3b{bottom:418.000000pt;}
.y3a{bottom:437.000000pt;}
.y17{bottom:444.000000pt;}
.y39{bottom:456.000000pt;}
.y16{bottom:463.000000pt;}
.y38{bottom:475.000000pt;}
.y15{bottom:482.000000pt;}
.y37{bottom:494.000000pt;}
.y14{bottom:504.000000pt;}
.y36{bottom:513.000000pt;}
.y13{bottom:524.000000pt;}
.y35{bottom:532.000000pt;}
.y34{bottom:551.000000pt;}
.y12{bottom:567.000000pt;}
.y33{bottom:570.000000pt;}
.y11{bottom:586.000000pt;}
.y32{bottom:589.000000pt;}
.y10{bottom:605.000000pt;}
.y31{bottom:608.000000pt;}
.yf{bottom:627.000000pt;}
.y30{bottom:646.000000pt;}
.ye{bottom:647.000000pt;}
.y2f{bottom:665.000000pt;}
.y2e{bottom:684.000000pt;}
.yd{bottom:685.000000pt;}
.y2d{bottom:703.000000pt;}
.y2c{bottom:722.000000pt;}
.y2b{bottom:757.000000pt;}
.y5{bottom:878.000000pt;}
.y2{bottom:892.000000pt;}
.y1{bottom:1002.000000pt;}
.h1{height:26.515625pt;}
.ha{height:32.396406pt;}
.h6{height:35.226562pt;}
.h7{height:36.468750pt;}
.hb{height:39.773438pt;}
.hd{height:48.246288pt;}
.hc{height:48.589882pt;}
.h4{height:51.562500pt;}
.h9{height:51.656250pt;}
.h2{height:108.000000pt;}
.h5{height:122.000000pt;}
.h3{height:157.968750pt;}
.h8{height:747.000000pt;}
.he{height:819.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:220.000000pt;}
.w1{width:478.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:9.593750pt;}
.xd{left:46.593750pt;}
.xe{left:51.593750pt;}
.x1{left:57.593750pt;}
.xc{left:61.593750pt;}
.xb{left:64.593750pt;}
.x9{left:66.593750pt;}
.x5{left:68.593750pt;}
.x6{left:76.593750pt;}
.x4{left:79.593750pt;}
.x10{left:81.593750pt;}
.x7{left:84.593750pt;}
.xa{left:86.593750pt;}
.xf{left:90.593750pt;}
.x8{left:99.593750pt;}
.x3{left:536.000000pt;}
}
